[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.center-div{
    margin:20px auto;
    max-width: 600px;
    min-width: 375px;
    padding: 20px 16px 24px 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.card{
    padding:15px 5px; 
    cursor: pointer;
}

.title{
    font-size:x-large;
    color: #878787; 
}

.sub-title{
    font-size:medium;    
    color: #878787; 
    clear:both;
}

.weather-row{
    padding-top: 20px;
    display: flow-root;
    color: #878787;   
    font-size:medium;          
}

.w-icon{
    height: 50px;
    width: 50px;
}

.temp{
    font-size:50px;
    line-height: 50px;
    padding-left: 10px;
    color: black;
}

.f-16{
    font-size:16px;
}
.error{
    font-size: 45px;
    color: #504f4f;
    margin: 0 auto;
}

.lds-grid {
    position: relative;
    width: 64px;
    height: 20px;
    margin: 80px auto;
  }
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #797b7d;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  