<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Weather App</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-cloak class="ng-cloak">
  <!-- Begin page content -->
  <div class="center-div">
    <div ng-controller="weatherController as wc">
      
      <div ng-if="wc.isLoading" class="lds-grid">
          <div></div><div></div><div></div>
      </div>

      <div ng-if="!wc.isLoading && !wc.hasError">
        <div>
          <select class="form-control" ng-model="wc.city" ng-options="city.cityName for city in wc.cityList" name="city" ng-change="wc.getData(wc.city)">
          </select>
        </div>

        <div class="card" ng-if="wc.cityData.id" ng-click="wc.getForecastData()">
          <div class="title">{{wc.cityData.name}}</div>
          <div class="sub-title">
            <div class="pull-left">
              <b>Sunrise</b> - {{wc.cityData.sunrise}} , &nbsp;
            </div>
            <div class="pull-left">
              <b>Sunset</b> - {{wc.cityData.sunset}}
            </div>
          </div>
          <div class="sub-title">{{wc.cityData.atmosphere}}</div>
          <div class="weather-row">
            <img class="w-icon pull-left" alt="{{wc.cityData.atmosphere}}" src="{{wc.cityData.icon}}">
            <div class="temp pull-left">
              {{wc.cityData.temp}}
            </div>
            <div class="pull-left" style="margin-top:2px">
              °C
            </div>
            <div class="pull-right">
              <div>Humidity:
                <span> {{wc.cityData.humidity}} %</span>
              </div>
              <div>Wind:
                <span>{{wc.cityData.windSpeed}} m/s</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default" ng-show="wc.foreCastData.length > 0">
          <div class="panel-heading">
            <b>Sea Level at {{wc.sea_level_time}}</b>(hPa)
          </div>
          <div class="panel-body">
            <canvas id="line" class="chart chart-line" chart-data="wc.foreCastData" chart-labels="wc.chartLabels" chart-series="wc.chartSeries"
              chart-dataset-override="wc.chartDatasetOverride"></canvas>
          </div>
        </div>
      </div>

      <div ng-if="wc.hasError" class="error">
         Oops!
      </div>

    </div>
  </div>

  <script src="lib/angular.1.5.8.min.js"></script>
  <script src="lib/chart.js"></script>
  <script src="lib/angular-chart.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/weatherController.js"></script>
  <script src="js/services/weatherService.js"></script>


</body>

</html>